<%- include('top_page') %>
<H1>רשימת תוכניות</H1>
<a href="plan">add activity</a>
<table border="1">
    <tr>
        <th>תאריך</th>
        <th>הקורס</th>
        <th>התחלה</th>
        <th>סיום</th>
        <th>נושא ללמוד</th>
        <th></th>
    </tr>
    <% for(let act of activity_data) { %>
        <tr>
            <td><%= act.nice_date %></td>
            <td><%= courses_names[act.course_id] %></td>
            <td><%= act.start_time %></td>
            <td><%= act.end_time %></td>
            <td><%= act.notes %></td>
            <td></td>
        </tr>
    <% } %>
</table>
<%- include('bottom_page') %>
