<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= page_title %></title>
    <style>
        td, th { border: 1px solid black; }
        .centered { text-align: center; }
    </style>
</head>
<body>
<h1><%= page_title %></h1>
<a href="/Crs/Add">add course</a>
<table>
    <tr>
        <th></th>
        <th>שם קורס</th>
        <th></th>
    </tr>
    <% for(let crs of courses) { %>
        <tr>
            <td><a href="/Crs/Edit/<%= crs.id %>">edit</a></td>
            <td><%= crs.name %></td>
            <td>
                <form action="/Crs/Delete" method="post">
                    <input type="hidden" name="id" value="<%= crs.id %>">
                    <button>מחיקה</button>
                </form>
            </td>
        </tr>
    <% } %>
    <tr>
        <td colspan="100" class="centered">
            <br/>
            <form action="" method="get">
                <% if(page > 0) { %>
                    <button name="p" value="<%= page-1 %>">הקודם</button>
                <% } %>
                עמוד <%= page+1 %> מתוך <%= total_pages+1 %>
                <% if(page < total_pages) { %>
                    <button name="p" value="<%= page+1 %>">הבא</button>
                <% } %>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
